/* ------------ FUENTES ------------ */

/* Fuente DM Sans: */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* ------------ TAILWIND ----------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------ COLORES ------------ */

:root {
  --brand: #B24201;
  --gris-claro: #e6e2df;
  --gris-medio: #c7c1bd;
  --gris-oscuro: #575553;
}

/* MODO CLARO: */
:root {
  --background: #f5f2f0;
  --foreground: #313131;
}

/* MODO OSCURO: */
.dark {
  --background: #313131;
  --foreground: #f5f2f0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 58px);
}

/* ------------ ESTILOS GLOBALES ------------ */

  h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: var(--foreground);
    line-height: 4rem;
    margin-top: 0;
  }

  h2 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    font-size: 3.4rem;
    color: var(--foreground);
    line-height: 4rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  h3 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--brand);
    line-height: 1.8rem;
    margin: 0;
    padding: 0;
  }

  h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--foreground);
    line-height: 1.3rem;
  }

  p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    font-size: 1.1rem;
    color: var(--foreground);
    line-height: 1.6rem;
  }

  a, strong {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--foreground);
    text-decoration: none;
  }

  .a-boton-gr {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .a-boton-pq {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    text-decoration: none;
  }

  form,  form * {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input, textarea, select {
    border: none;
    outline: none;
  }

  .resaltar-texto {
    color: var(--gris-oscuro);
  }

  .resaltar-texto:hover {
    color: #fff;
  }

  .placeholder-light::placeholder {
    color: var(--gris-oscuro);
    opacity: 0.6;
  }

  .placeholder-dark::placeholder {
    color: var(--gris-claro);
    opacity: 0.4;
  }

  label {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--gris-oscuro);
  }

  /* Estilo personalizado para Selects: */

select {
  appearance: none;
  -webkit-appearance: none; /* Compatibilidad con Safari */
  -moz-appearance: none; /* Compatibilidad con Firefox */
  position: relative;
  font-size: 1rem;
  font-weight: normal;
  color: var(--gris2);
  padding: 0.5rem 1.7rem;
  margin: 0;
  border: 2px solid var(--blanco);
  border-radius: 0.8rem;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"%3E%3Cpath fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" /%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 1.3rem;
  cursor: pointer;
}

select:hover {
  border: 2px solid var(--gris2);

}

select:active, select:focus {
  border: 2px solid var(--brand1);
}

  /* Estilo personalizado para Inputs: */

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s !important;
    border: none !important;
  }

  /* Estilo para la Masonry de Proyectos */

  .thumbnail-overlay {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to top, rgba(39, 39, 42, 0.8), transparent);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  pointer-events: none;
}

.group:hover .thumbnail-overlay {
  opacity: 1;
}

.thumbnail-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  color: white;
  font-size: 1.125rem; /* equivale a text-lg */
  font-weight: 600; /* equivale a font-semibold */
  z-index: 10;
  opacity: 0;
}

.group:hover .thumbnail-title {
  opacity: 1;
}

/* Oculta todas las barras de scroll horizontales y verticales */

*::-webkit-scrollbar {
  display: none; /* Oculta la barra de scroll en navegadores WebKit (Chrome, Safari, etc.) */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Aplicado globalmente a todos los elementos */
* {
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE y Edge */
}

/* -------- APAÑO TEMPORAL PARA MOSTRAR UN MENSAJE EN LA VERSIÓN MÓVIL -------- */

/* Muestra solo en pantallas anchas (≥1024px) */
.desktop-only {
  display: none;
}

@media (min-width: 1080px) {
  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}