/* ------------ FUENTES ------------ */

/* Fuente DM Sans: */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* ------------ COLORES ------------ */

:root {
  --brand: #B24201;
  --gris-claro: #e2e2e2;
  --gris-medio: #c9c8c8;
  --gris-oscuro: #646161;
}

/* ------------ TAILWIND ----------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------ ESTILOS BASE ------------ */

/* MODO CLARO: */
:root {
  --background: #f7f7f7;
  --foreground: #313131;
}

/* MODO OSCURO: */
.dark {
  --background: #313131;
  --foreground: #f7f7f7;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 58px);
}

/* ------------ ESTILOS GLOBALES ------------ */

  h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: var(--foreground);
    line-height: 4rem;
    margin-top: 0;
  }

  h2 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    font-size: 3.4rem;
    color: var(--foreground);
    line-height: 4rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  h3 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--brand);
    line-height: 1.8rem;
    margin: 0;
    padding: 0;
  }

  h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--foreground);
    line-height: 1.3rem;
  }

  p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    font-size: 1.1rem;
    color: var(--foreground);
    line-height: 1.6rem;
  }

  a, strong {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--foreground);
    text-decoration: none;
  }

  .a-boton-gr {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .a-boton-pq {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    text-decoration: none;
  }

  form,  form * {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .resaltar-texto {
    color: var(--gris-oscuro);
  }

  .resaltar-texto:hover {
    color: #fff;
  }

  .placeholder-light::placeholder {
    color: var(--gris-oscuro);
    opacity: 0.6;
  }

  .placeholder-dark::placeholder {
    color: var(--gris-claro);
    opacity: 0.4;
  }

  label {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    opacity: 0.6;
    color: var(--gris-claro);
  }